<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>https://api.rawg.io/api</string>
	<key>API_KEY</key>
	<string>61c55e29789040f4a2d54e5aa44a6031</string>
</dict>
</plist>
